#screen {
    width: 100vw;
    height: 56.25vw;
    background-color: pink;

    overflow: hidden;
    position: relative;

    /*  touch-action: none;*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* effekter */
.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.blur {
    filter: blur(5px) brightness(80%);
}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.90);
    }

    100% {
        transform: scale(1);
    }
}

#start {
    background-image: url(produktion/menu_baggrund.svg);
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    background-color: rgba(240, 248, 255, 0.75);
}

#spil {
    background-image: url(produktion/spil.svg);
    background-size: 100%;
    width: 33vw;
    height: 20vw;
    position: absolute;
    left: 32vw;
    top: 34vw;
}

#indstillinger {
    background-image: url(produktion/indstillinger.svg);
    background-size: 100%;
    width: 12vw;
    height: 11vw;
    position: absolute;
    left: 88vw;
    top: 45vw;
}

#indstillinger_borad {
    background-image: url(produktion/indstillinger_borad.svg);
    background-size: 100%;
    width: 70vw;
    height: 50vw;
    left: 15vw;
    top: 10vw;
    position: absolute;
    display: none;
}

#forlad {
    background-image: url(produktion/forlad.svg);
    background-size: 100%;
    width: 30vw;
    height: 8vw;
    left: 34vw;
    top: 20vw;
    position: absolute;
    display: none;
}

#lyd_fra {
    background-image: url(produktion/lyd_fra.svg);
    background-size: 100%;
    width: 45vw;
    height: 10vw;
    left: 30.5vw;
    top: 28vw;
    position: absolute;
    display: none;
}

#lyd_til {
    background-image: url(produktion/lyd_til.svg);
    background-size: 100%;
    width: 46vw;
    height: 13vw;
    left: 28.8vw;
    top: 25.1vw;
    position: absolute;
    display: none;
}

#spil_igen {
    background-image: url(produktion/spil_igen.svg);
    background-size: 100%;
    width: 28.8vw;
    height: 8vw;
    left: 34.7vw;
    top: 37vw;
    position: absolute;
    display: none;
}


#spille_baggrund {
    background-image: url(produktion/spille_baggrund.svg);
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    display: none;
}


#hund {
    background-image: url(produktion/hund.svg);
    background-size: 100%;
    width: 34vw;
    height: 30vw;
    position: absolute;
    left: 27vw;
    top: 10.5vw;
}

#hor1 {
    background-image: url(produktion/hor1.svg);
    background-size: 100%;
    width: 8vw;
    height: 6vw;
    position: absolute;
    transform: translateX(35.5vw) translateY(19vw);

}

.forsvind1 {
    animation-name: forsvind1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes forsvind1 {

    0% {
        transform: translateX(35.5vw) translateY(19vw);

    }

    100% {
        transform: translateX(-300vw) translateY(200vw);

    }

}

#hor2 {
    background-image: url(produktion/hor2.svg);
    background-size: 100%;
    width: 6vw;
    height: 5vw;
    position: absolute;
    transform: translateX(50vw) translateY(27vw);

}

.forsvind2 {
    animation-name: forsvind2;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes forsvind2 {

    0% {
        transform: transform: translateX(50vw) translateY(27vw);

    }

    100% {
        transform: translateX(250vw) translateY(-27vw);

    }

}

#hor3 {
    background-image: url(produktion/hor3.svg);
    background-size: 100%;
    width: 8vw;
    height: 5vw;
    position: absolute;
    transform: translateX(40vw) translateY(12.5vw);

}

.forsvind3 {
    animation-name: forsvind3;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes forsvind3 {

    0% {
        transform: translateX(50vw) translateY(27vw);

    }

    100% {
        transform: translateX(250vw) translateY(27vw);

    }

}

#hor4 {
    background-image: url(produktion/hor3.svg);
    background-size: 100%;
    width: 5vw;
    height: 4vw;
    position: absolute;
    transform: translateX(48vw) translateY(23vw) rotateZ(45deg);
}

.forsvind4 {
    animation-name: forsvind4;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes forsvind4 {

    0% {
        transform: translateX(48vw) translateY(23vw);

    }

    100% {
        transform: translateY(-150vw)translateY(27vw);

    }

}

#hor5 {
    background-image: url(produktion/hor2.svg);
    background-size: 100%;
    width: 5vw;
    height: 5vw;
    position: absolute;
    transform: translateX(31vw) translateY(28vw) rotateZ(-70deg);

}

.forsvind5 {
    animation-name: forsvind5;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes forsvind5 {

    0% {
        transform: translateX(31vw) translateY(28vw);

    }

    100% {
        transform: translateY(-150vw)translateY(27vw);

    }

}

#tunge {
    background-image: url(produktion/tunge.svg);
    background-size: 100%;
    width: 7vw;
    height: 5vw;
    position: absolute;
    left: 41.2vw;
    top: 23.3vw;
}

#tander {
    background-image: url(produktion/tander.svg);
    background-size: 100%;
    width: 10vw;
    height: 3vw;
    position: absolute;
    left: 42vw;
    top: 19vw;
}

#bryn {
    background-image: url(produktion/bryn.svg);
    background-size: 100%;
    width: 9vw;
    height: 3vw;
    position: absolute;
    left: 40vw;
    top: 17vw;
}

#tid {
    background-image: url(produktion/tid.svg);
    background-size: 100%;
    width: 35vw;
    height: 7vw;
    position: absolute;
    left: 60vw;
    top: 0vw;
}

#hjerte {
    background-image: url(produktion/hjerte.svg);
    background-size: 100%;
    width: 9vw;
    height: 7vw;
    position: absolute;
    left: 3vw;
    top: 0.5vw;
}

#point {
    background-image: url(produktion/point.svg);
    background-size: 100%;
    width: 3vw;
    height: 4vw;
    position: absolute;
    left: 5.5vw;
    top: 2.6vw;
}

#kodben {
    background-image: url(produktion/kodben.svg);
    background-size: 100%;
    width: 16vw;
    height: 8vw;
    position: absolute;
    left: 35vw;
    top: 47vw;
}

#tidslinje {
    background-image: url(produktion/tidslinje.svg);
    background-size: 100%;
    width: 2vw;
    height: 5vw;
    left: 91vw;
    top: 1.8vw;
    position: absolute;
}

.slide {
    animation-name: slide_kf;
    animation-duration: 30s;
    animation-iteration-count: 1;
    animation-timing-function: linear;

}

@keyframes slide_kf {
    0% {
        transform: translateX(2vw)
    }

    100% {
        transform: translateX(-25vw)
    }
}

#tillykke {
    background-image: url(produktion/tillykke.svg);
    background-size: 100%;
    width: 70vw;
    height: 50vw;
    left: 15vw;
    top: 10vw;
    position: absolute;
    display: none;
}

#forlad1 {
    background-image: url(produktion/forlad.svg);
    background-size: 100%;
    width: 30vw;
    height: 8vw;
    left: 17vw;
    top: 14vw;
    position: absolute;
}

#lyd_fra1 {
    background-image: url(produktion/lyd_fra.svg);
    background-size: 100%;
    width: 45vw;
    height: 10vw;
    left: 14vw;
    top: 20vw;
    position: absolute;
    /*    display: none;*/
}

#lyd_til1 {
    background-image: url(produktion/lyd_til.svg);
    background-size: 100%;
    width: 46vw;
    height: 13vw;
    left: 12vw;
    top: 17.8vw;
    position: absolute;
    display: none;
}

#spil_igen1 {
    background-image: url(produktion/spil_igen.svg);
    background-size: 100%;
    width: 28.8vw;
    height: 8vw;
    left: 18vw;
    top: 29vw;
    position: absolute;
}

#game_over1 {
    background-image: url(produktion/tillykke.svg);
    background-size: 100%;
    width: 70vw;
    height: 50vw;
    left: 15vw;
    top: 10vw;
    position: absolute;
    display: none;
}

#forlad2 {
    background-image: url(produktion/forlad.svg);
    background-size: 100%;
    width: 30vw;
    height: 8vw;
    left: 17vw;
    top: 14vw;
    position: absolute;
}

#lyd_fra2 {
    background-image: url(produktion/lyd_fra.svg);
    background-size: 100%;
    width: 45vw;
    height: 10vw;
    left: 14vw;
    top: 20vw;
    position: absolute;
    /*    display: none;*/
}

#lyd_til2 {
    background-image: url(produktion/lyd_til.svg);
    background-size: 100%;
    width: 46vw;
    height: 13vw;
    left: 12vw;
    top: 17.8vw;
    position: absolute;
    display: none;
}

#spil_igen2 {
    background-image: url(produktion/spil_igen.svg);
    background-size: 100%;
    width: 28.8vw;
    height: 8vw;
    left: 18vw;
    top: 29vw;
    position: absolute;
}

#game_over2 {
    background-image: url(produktion/tillykke.svg);
    background-size: 100%;
    width: 70vw;
    height: 50vw;
    left: 15vw;
    top: 10vw;
    position: absolute;
    display: none;
}

#forlad3 {
    background-image: url(produktion/forlad.svg);
    background-size: 100%;
    width: 30vw;
    height: 8vw;
    left: 17vw;
    top: 14vw;
    position: absolute;
}

#lyd_fra3 {
    background-image: url(produktion/lyd_fra.svg);
    background-size: 100%;
    width: 45vw;
    height: 10vw;
    left: 14vw;
    top: 20vw;
    position: absolute;
    /*    display: none;*/
}

#lyd_til3 {
    background-image: url(produktion/lyd_til.svg);
    background-size: 100%;
    width: 46vw;
    height: 13vw;
    left: 12vw;
    top: 17.8vw;
    position: absolute;
    display: none;
}

#spil_igen3 {
    background-image: url(produktion/spil_igen.svg);
    background-size: 100%;
    width: 28.8vw;
    height: 8vw;
    left: 18vw;
    top: 29vw;
    position: absolute;
}
