#menu_baggrund {
    background-image: url(produktion/menu_baggrund.svg);
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
}

#spil {
    background-image: url(produktion/spil.svg);
    background-size: 100%;
    width: 30vw;
    height: 20vw;
    position: absolute;
    left: 32vw;
    top: 30vw;
