* {
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
}

html {
    font-size: 2vw;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#screen {
    position: relative;
    width: 100vw;
    height: 56.25;
}

#start {
    position: absolute;
    width: 100vw;
    height: 56.25vw;
    background-image: url(produktion/menu_baggrund.svg);
    background-size: contain;
}

#spil {
    background-image: url(produktion/spil.svg);
    background-size: 100%;
    width: 33vw;
    height: 20vw;
    position: absolute;
    left: 32vw;
    top: 34vw;
}

/* effekter */
.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.blur {
    filter: blur(5px) brightness(80%);
}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.90);
    }

    100% {
        transform: scale(1);
    }
}

#game_ui {
    position: absolute;
}

#game_background {
    position: absolute;
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    background-image: url(produktion/spille_baggrund.svg);
}


#settings {
    background-image: url(produktion/indstillinger.svg);
    background-size: 100%;
    width: 12vw;
    height: 11vw;
    position: absolute;
    left: 88vw;
    top: 45vw;
}

#settings_screen {
    background-image: url(produktion/indstillinger_borad.svg);
    background-size: 100%;
    width: 70vw;
    height: 50vw;
    left: 15vw;
    top: 10vw;
    position: absolute;
}

#forlad {
    background-image: url(produktion/forlad.svg);
    background-size: 100%;
    width: 30vw;
    height: 8vw;
    left: 34vw;
    top: 22.5vw;
    position: absolute;

}

#lyd_fra {
    background-image: url(produktion/lyd_fra.svg);
    background-size: 100%;
    width: 45vw;
    height: 10vw;
    left: 30.5vw;
    top: 28vw;

}

#lyd_til {
    background-image: url(produktion/lyd_til.svg);
    background-size: 100%;
    width: 46vw;
    height: 13vw;
    left: 28.8vw;
    top: 25.1vw;

}

#musik_fra {
    background-image: url(produktion/musik_fra.svg);
    background-size: 100%;
    width: 45vw;
    height: 10vw;
    left: 30.5vw;
    top: 28vw;

}

#musik_til {
    background-image: url(produktion/musik_til.svg);
    background-size: 100%;
    width: 46vw;
    height: 13vw;
    left: 28.8vw;
    top: 25.1vw;

}

#spil_igen {
    background-image: url(produktion/spil_igen.svg);
    background-size: 100%;
    width: 28.8vw;
    height: 8vw;
    left: 34.7vw;
    top: 37vw;
    position: absolute;
}


#hund {
    background-image: url(produktion/hund.svg);
    background-size: 100%;
    width: 34vw;
    height: 30vw;
    position: absolute;
    left: 27vw;
    top: 10.5vw;
}

#hor1,
#hor2,
#hor3,
#hor4 {
    width: 8vw;
    height: 6vw;
}

#hor5,
#hor6,
#hor7,
#hor8 {
    width: 8vw;
    height: 6vw;
}

.hor {
    position: absolute;

}

#hor1 {
    transform: translateX(37vw) translateY(28vw) rotate(180deg);
}

#hor2 {
    transform: translateX(28vw) translateY(28vw) rotate(220deg);
}

#hor3 {
    transform: translateX(47vw) translateY(15vw) rotate(50deg);
}

#hor4 {
    transform: translateX(49vw) translateY(30vw);
}

#hor5 {
    transform: translateX(48vw) translateY(25vw);
}

#hor6 {
    transform: translateX(43.5vw) translateY(30vw)rotate(160deg);
}

#hor7 {
    transform: translateX(40vw) translateY(12.5vw)rotate(320deg);
}

#hor8 {
    transform: translateX(33vw) translateY(23vw)rotate(270deg);
}

.lys {
    background-image: url(produktion/hor2.svg);
    background-size: 100%;


}

.mork {
    background-image: url(produktion/hor3.svg);
    background-size: 100%;
}


#tunge {
    background-image: url(produktion/tunge.svg);
    background-size: 100%;
    width: 7vw;
    height: 5vw;
    position: absolute;
    left: 41.2vw;
    top: 23.3vw;
}

#tander {
    background-image: url(produktion/tander.svg);
    background-size: 100%;
    width: 10vw;
    height: 3vw;
    position: absolute;
    left: 42vw;
    top: 19vw;
}

#bryn {
    background-image: url(produktion/bryn.svg);
    background-size: 100%;
    width: 9vw;
    height: 3vw;
    position: absolute;
    left: 40vw;
    top: 17vw;
}

#tid {
    background-image: url(produktion/tid.svg);
    background-size: 100%;
    width: 35vw;
    height: 7vw;
    position: absolute;
    left: 60vw;
    top: 0vw;
}

#hjerte {
    background-image: url(produktion/hjerte.svg);
    background-size: 100%;
    width: 9vw;
    height: 7vw;
    position: absolute;
    left: 3vw;
    top: 0.5vw;
}

#score {
    width: 3vw;
    height: 4vw;
    position: absolute;
    left: 5.5vw;
    top: 2.6vw;
}

#kodben {
    background-image: url(produktion/kodben.svg);
    background-size: 100%;
    width: 16vw;
    height: 8vw;
    position: absolute;
    left: 35vw;
    top: 47vw;
}

#tidslinje {
    background-image: url(produktion/tidslinje.svg);
    background-size: 100%;
    width: 2vw;
    height: 4.3vw;
    left: 91vw;
    top: 1.8vw;
    position: absolute;
}

.slide {
    animation-name: slide_kf;
    animation-duration: 30s;
    animation-iteration-count: 1;
    animation-timing-function: linear;

}

@keyframes slide_kf {
    0% {
        transform: translateX(2vw)
    }

    100% {
        transform: translateX(-25vw)
    }
}

#tillykke {
    background-image: url(produktion/tillykke.svg);
    background-size: 100%;
    width: 70vw;
    height: 50vw;
    left: 15vw;
    top: 10vw;
    position: absolute;
}
