#screen {
    position: relative;
    width: 100vw;
    height: 56.25vw;

    margin: 0 auto;
}

#menu_baggrund {
    background-image: url(produktion/menu_baggrund.svg);
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    display: none;
}

#spil {
    background-image: url(produktion/spil.svg);
    background-size: 100%;
    width: 33vw;
    height: 20vw;
    position: absolute;
    left: 32vw;
    top: 34vw;
    display: none;
}

#indstillinger {
    background-image: url(produktion/indstillinger.svg);
    background-size: 100%;
    width: 12vw;
    height: 11vw;
    position: absolute;
    left: 88vw;
    top: 45vw;
}


#spille_baggrund {
    background-image: url(produktion/spille_baggrund.svg);
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    /*        display: none;*/
}


#hund {
    background-image: url(produktion/hund.svg);
    background-size: 100%;
    width: 34vw;
    height: 30vw;
    position: absolute;
    left: 27vw;
    top: 10.5vw;
}

#hor1 {
    background-image: url(produktion/hor1.svg);
    background-size: 100%;
    width: 11vw;
    height: 8vw;
    position: absolute;
    left: 34vw;
    top: 19vw;

}

#hor2 {
    background-image: url(produktion/hor2.svg);
    background-size: 100%;
    width: 6vw;
    height: 5vw;
    position: absolute;
    left: 50vw;
    top: 27vw;

}

#hor3 {
    background-image: url(produktion/hor3.svg);
    background-size: 100%;
    width: 8vw;
    height: 5vw;
    position: absolute;
    left: 42vw;
    top: 12vw;

}

#tunge {
    background-image: url(produktion/tunge.svg);
    background-size: 100%;
    width: 7vw;
    height: 5vw;
    position: absolute;
    left: 41.2vw;
    top: 23.3vw;
}

#tander {
    background-image: url(produktion/tander.svg);
    background-size: 100%;
    width: 10vw;
    height: 3vw;
    position: absolute;
    left: 42vw;
    top: 19vw;
}

#bryn {
    background-image: url(produktion/bryn.svg);
    background-size: 100%;
    width: 9vw;
    height: 3vw;
    position: absolute;
    left: 40vw;
    top: 17vw;
}

#tid {
    background-image: url(produktion/tid.svg);
    background-size: 100%;
    width: 35vw;
    height: 7vw;
    position: absolute;
    left: 60vw;
    top: 0vw;
}

#hjerte {
    background-image: url(produktion/hjerte.svg);
    background-size: 100%;
    width: 9vw;
    height: 7vw;
    position: absolute;
    left: 3vw;
    top: 0.5vw;
}

#point {
    background-image: url(produktion/point.svg);
    background-size: 100%;
    width: 3vw;
    height: 4vw;
    position: absolute;
    left: 5.5vw;
    top: 2.6vw;
}

#kodben {
    background-image: url(produktion/kodben.svg);
    background-size: 100%;
    width: 16vw;
    height: 8vw;
    position: absolute;
    left: 35vw;
    top: 47vw;
}

#tidslinje {
    background-image: url(produktion/tidslinje.svg);
    background-size: 100%;
    width: 2vw;
    height: 5vw;
    left: 91vw;
    top: 1.8vw;
    position: absolute;
}

.slide {
    animation-name: slide_kf;
    animation-duration: 30s;
    animation-iteration-count: 1;
    animation-timing-function: linear;


}

@keyframes slide_kf {
    0% {
        transform: translateX(2vw)
    }

    100% {
        transform: translateX(-25vw)
    }
}
